*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #eee;
}

html{
    font-size: 62.5%;
    font-family: 'Orbitron', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: black;
}


.countdown-wrapper{
    /* border: 1px solid red; */
    width: 100%;
    /* height: 100%; */
    position: absolute;
    top: 15%;
    text-align: center;
    color: #ddd;

    
}

.countdown-wrapper h1{
    font-size: 8rem;
    /* font-weight: 400; */
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 8rem;
    text-shadow: 0 0.5rem rgba(0,0,0,0.5);
}

.countdown{
    /* width: 100%; */
    /* border: 1px solid red; */
    font-family: 'Orbitron', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
   
   
}

.countdown div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 13rem;
    background: linear-gradient(to bottom, rgba(61,58,58,9) 50%,
     rgba(99,93,93,0.9) 0);

     /* linear gradient with two color makes add two background horizantally */

     margin: 0 4rem 12rem 4rem;
     font-size: 4rem;
     font-weight:400;
     box-shadow: 0 0 0.8rem 2.5rem rgba(0, 0, 0, 0.5);
     position: relative;

}

/* added pseudo elements for creating line between countdown div */

.countdown div::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0.24rem;
    background-color:#17181b;
}


/* added pseudo elements for creating days, hours text...*/

.countdown div::after{
    content: attr(data-content);
    font-size: 2.2rem;
    position: absolute;
    font-weight: 400;
    bottom: -6rem;

}

.reset{
    width: 22rem;
    height: 6rem;
    border: none;
    background-color: #a52a2a;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #eeeeee;
    text-shadow: 0.3rem .5rem 1rem rgba(37, 26, 26, 0.5);
    box-shadow: 0.3rem .6rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.set{
    width: 22rem;
    height: 6rem;
    border: none;
    background-color: #eee;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #262424;
    text-shadow: 0.3rem .5rem 1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0.3rem .6rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.timer-list{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 8rem;
    font-size: 2.2rem;
    font-weight: 600;
}

.timer-list select
{
   border: #17181b;
    /* align-items: center; */
    background-color: rgba(94, 91, 91, 0.255);
    width: 22rem;
    height: 6rem;
    font-size: 2.2rem;
    text-shadow: 0.3rem .5rem 1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0.3rem .6rem rgba(0, 0, 0, 0.5);
}


/* MODAL'S STYLING STARTED*/
/* The Modal (background) */
.modal {
    border: none;
    outline: none;
    font-size: 2rem;
   
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    color: #000;
    position: relative;
    background-color: #edecec;
    margin: auto;
    padding:0;
    /* padding-bottom: 3rem; */
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #262424;
    color: white;
  }
  
  .modal-body {
    margin: 3rem 0;
}
  .modal-body *{
    color: #000 !important;
  }
  /* .modal-footer {
    padding: 2px 16px;
    background-color: #262424;
    color: white;
  } */






/* MODAL'S STYLING ENDED*/

.setting-time{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.title{
    margin-bottom: 2rem;
}

.top-time,
.bottom-time{
    
    display: flex;
    align-items:space-between;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    
}

.year{
    position: relative;
}
.year:before{
    position: absolute;
    content: "Year";
    top: -25px;

}
.month{
    position: relative;
}
.month:before{
    position: absolute;
    content: "Month";
    top: -25px;

}
.day{
    position: relative;
}
.day:before{
    position: absolute;
    content: "Day";
    top: -26px;


}
.hour{
    position: relative;
}
.hour:before{
    position: absolute;
    content: "Hour";
    top: -25px;

}
.minute{
    position: relative;
}
.minute:before{
    position: absolute;
    content: "Minute";
    top: -25px;

}
.second{
    position: relative;
}
.second:before{
    position: absolute;
    content: "Hour";
    top: -25px;

}



/* Take You Note Form Elements */


.modal-body #take-note{
    border: none;
    width: 250px;
    display: flex;
    justify-content:center;
    align-items:center;
    
}


input,
.form-select{
    border: none;
    border-radius: 1px;
    background-color: rgba(128, 128, 128, 0.557);
    width: 20rem !important;
    height: 4rem !important;
    font-size: 2rem !important;
    text-indent: 0.5rem;
    
}

input{
    width: 41.5rem !important ;
    font-size: 2rem !important;
}

.save-button{
    width: 30rem !important;
    height: 5rem !important;
    background-color: #a52a2a;
    color: white !important;
    font-size:2rem;
    font-weight: bold;
}


